@import "variables.scss";
@import "mixins.scss";
@import "global.scss";
@import "navbar.scss";
@import "masthead.scss";
@import "download.scss";
@import "features.scss";
@import "cta.scss";
@import "contact.scss";
@import "footer.scss";
@import "bootstrap-overrides.scss";

.logo {
  max-width: 120px;
  height: auto;
  margin: 20px;
}

.form-submit-button {
  outline: none;
  cursor: pointer;
  border-radius: 300px;
  padding: 15px 45px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-family: Lato, Helvetica, Arial, sans-serif;
  font-size: 11px;
  background-color: #fff;
  color: #bbe5ed;
  border-color: #bbe5ed;
  border: 1px solid;
  &:hover {
    background-color: #bbe5ed;
    color: #fff;
    border-color: #fff;
  }
}
